*{
    margin: 0;
}
div{
    background-color: #833ae0;
    color: white;
    width: 300px;
    border-radius: 13px;
    margin: 20px;
}
img{
    width: 50px;
    margin: 30px 0 0 13px;
}
p{
    margin-left: 19px;
}
.Nomre{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}
.Ad{
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 10px;
}
.Valid{
    font-size: 10px;
}
.Tarix,.Valid{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Tarix{
    padding-bottom: 17px;
}